<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page.title ? page.title + ' - ' + config.title : config.title + ' - Home' %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body data-page="<%= page.__pageType || (page.layout || 'page') %>">
  <%- partial('partial/navbar') %>
  <%- body %>
  <script src="/app.js"></script>
</body>
</html>
